<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423609481042-6qh03svte2nqgq3mp469rqgp4uusmdsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423609481042-6qh03svte2nqgq3mp469rqgp4uusmdsn</string>
	<key>API_KEY</key>
	<string>AIzaSyDVz_S0bITbaL0P43dFXnV57a1ooCxhek8</string>
	<key>GCM_SENDER_ID</key>
	<string>423609481042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mstfklc.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-1a714</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-1a714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423609481042:ios:54c1021b3f569a71322c8b</string>
</dict>
</plist>